frontend/content/
speech-to-emotion/audio\ files/
node_modules/
.vscode/*
.DS_Store
test-data/example-audio/*

application/output.htk
application/smile.log
contentData/tvShows/Friends/02/12-The-One-After-The-Superbowl-Part1/*